BlazorApp1/bin/Debug/net8.0/BlazorApp1.dll
BlazorApp1/bin/Debug/net8.0/BlazorApp1.pdb
BlazorApp1/obj/Debug/net8.0/BlazorApp1.AssemblyInfo.cs
BlazorApp1/obj/Debug/net8.0/BlazorApp1.AssemblyInfoInputs.cache
BlazorApp1/obj/Debug/net8.0/BlazorApp1.dll
BlazorApp1/obj/Debug/net8.0/BlazorApp1.pdb
BlazorApp1/obj/Debug/net8.0/BlazorApp1.sourcelink.json
BlazorApp1/obj/Debug/net8.0/ref/BlazorApp1.dll
BlazorApp1/obj/Debug/net8.0/refint/BlazorApp1.dll
.qodo
